@font-face {
    font-family: 'mantinia';
    src: url('Mantinia.otf');
    font-weight: normal;
    font-style: normal;

}


body, html {
    height: 100%;
    margin:0%;
    padding:0%;
  }


.home{
    p {
        margin-left: 450px;
        margin-right: 450px;
        line-height: 35px;
        margin-top:0;
        padding-top: 100px;
        color:lightgray;
}

.parallax {

    background-image: url("images/eldenring.jpg");
  

    min-height: 100%; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .navbar {
        a {
        text-decoration: none;
        color: lightgray;
        }
    }
}

.queen-div {
    height:auto;
    width:100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/queen_marika_the_eternal.png');
    background-size: cover; 
    color: white;
    position: sticky;
    
    }
    #bottomtext {
        text-align: center;
        padding-bottom: 100px;
        margin-bottom: 0;
    }
}

.shattering-div {
    text-align: center;
    background-color: black;
    color: white;

    
    font-family: "Mantinia";
    
    font-weight: lighter;
    #knives {
        padding: 50px;
        padding-bottom: 0%;

    }

    #caelid {
        padding-top: 50px;
    }
    h1 {
        font-size: 100px;
        letter-spacing: .25em;
        margin: 0%;
    }

    p {
        font-size: 15px;
        letter-spacing: .05em;
        text-align: left;
        font-family: 'inter';
        padding:25px;
        font-weight: 300;
    }

    h2 {
        font-family: 'inter';
        font-size: 15px;
        margin-top: 0%;
        letter-spacing: 0.1em;
    }

}

.shattering-div img {
    opacity: 100%;
    transition: 0.3s;
}
.shattering-div img:hover{
    opacity: 25%;
    transition: 0.3s;
}

.maleniapage {
    background-image: url('images/Frame\ 2.png');
    background-size:cover;
    color: lightgray;
    
    #text {
        color: white;
        width: 30%;
        font-size: 15px;
        letter-spacing: .01em;
        text-align: left;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding:25px;
        font-weight: 200;


        margin-top: 9%;
        margin-left: 7%;
    }
}
.rannipage {

    background-image: url('images/rannipage.png');
    background-size:cover;
    color: white;

    #text{
        color: white;
        margin-left: 5%;
        width: 35%;
        font-size: 0.9em;
        letter-spacing: .01em;
        text-align: left;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding-top:10%;
        font-weight: 350;
        line-height: 1.75;
    }


 

    .quote {
        margin-top:auto;
        position: absolute;
        /* position: fixed; */
        left: 0;
        bottom: 0;
        width: 100%;
        p {
            text-align: center;
            font-family: "Inknut Antiqua";
            font-size: 1.4em;
            font-weight: lighter;
        }
    }

}
.godrickpage {

    background-image: url('images/godrickpage.png');
    background-size:cover;
    color: white;
    

    #text{
        color: white;
        margin-left: 2%;
        width: 25%;
        letter-spacing: .01em;
        text-align: left;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding-top:16%;
        font-weight: 350;
        line-height: 1.75;
    }

}
.rykardpage {

    background-image: url('images/rykardpage.png');
    background-size: cover;
    color: white;

    #text{
        color: white;
        margin-left: 5%;
        width:19.5%;
        
        text-align: left;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding-top: 15%;
        font-weight: 200;
        line-height: 1.75;
 
    }

}
.morgottpage {

    background-image: url('images/morgottpage.png');
    background-size: cover;
    color: white;
    

    #text{
        color: white;
        margin-left: 5%;
        width:55%;
        font-size: 0.9em;
        letter-spacing: .01em;
        text-align: left;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding-top:12.5%;
        font-weight: 200;
        line-height: 1.75;

        
    }

}
.mohgpage {
    background-image: url('images/mohgpage.png');
    background-size:cover;
    color: white;

    #text{
        color: white;
        margin-left: 5%;
        width: 65%;
        font-size: 0.9em;
        letter-spacing: .01em;
        text-align: left;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding:0px;
        font-weight: 350;
        padding-top: 10%; 
        line-height: 1.75;
        
    }


}

.miquellapage {
    background-image: url(images/miquella.png);
    background-size: cover;
    height: 100%;

}

.navbar {
    margin-right: 50px;
    margin-left: 50px;
    padding: 0%;
    display:flex;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    color: lightgray;
    a {
        text-decoration: none;
        color: lightgray;
        }
    ul {
        padding: 0;
        list-style-type: none;
        li {
            display: inline;    
        }
    }
    .leftnav {
        li {
            margin-right: 300px;
        }
    }
    .rightnav {
        li {
            margin-left: 300px;
        }
    }
    
}


.quote {
    margin-top:auto;
    position: absolute;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    p {
        text-align: center;
        font-family: "Inknut Antiqua";
        font-size: 1.4em;
        font-weight: lighter;
    }
}

/* #title {
    font-family: "mantinia";
    text-align: center;
    font-size: 375px;
    letter-spacing: 30px;
    line-height: 0.85;
    position: relative;
    opacity: 0;
} */



#text {
    line-height: 1.75em;
    font-size: 17.5px;
    font-family: "inter";
    text-indent: 5%;
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: .01em;
}

.inknut-antiqua-light {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .inknut-antiqua-regular {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inknut-antiqua-medium {
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .inknut-antiqua-semibold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .inknut-antiqua-bold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inknut-antiqua-extrabold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .inknut-antiqua-black {
    font-family: "Inknut Antiqua", serif;
    font-weight: 900;
    font-style: normal;
  }
  





li{
    color: rgb(255,255,255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 25;
    font-size: 16px;
    text-decoration: none;
} 

